  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; right:0; width:80%; border-left:2px solid #777777; }

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family:arial, sans-serif;
	font-weight:normal;
	font-size:12px;
	background:#3f4348;
}

h1 {
position:absolute;
padding:3px 15px;
right:0;
font-family: 'Amaranth', sans-serif;
color:#3C8041;
text-align:center;
font-size:2.5em;
margin-top:10px;
background-color:white;
border:2px solid #7b7b7b;
border-radius:53px;
z-index:9999;
margin-right:8px;
}

.accordian-menu {
position:absolute;
top:0;
bottom:0;
left:0;
width:20%;
height:inherit;
overflow:auto;
}

ul {
	list-style:none;
	margin:0; 
	padding:0;
	-moz-box-shadow: 0 0 5px #111;
	-webkit-box-shadow: 0 0 5px #111;
	box-shadow: 0 0 5px #111;
}

ul li label {
	background: #575e63; /* fallback colour */
	border-top:1px solid #878e98;
	border-bottom:1px solid #33373d;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	letter-spacing: 0.09em;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
	background: -webkit-linear-gradient(top, #575e63, #3f4347);
	background: -moz-linear-gradient(top, #575e63, #3f4347);
	background: -ms-linear-gradient(top, #575e63, #3f4347);
	background: -o-linear-gradient(top, #575e63, #3f4347);
}

ul li input[type='checkbox'] {
	display: none;
}

ul li label {
	display:block;
	padding:12px;
	width:inherit;
}

ul li i {
	font-size:18px;
	vertical-align: middle;
	width:20px;
	display:inline-block;
}

ul li span {
	display:inline;
	float:right;
	background:#48515c;
	border:1px solid #3c434c;
	border-bottom:1px solid #707781;
	padding:4px 6px;
	font-size:10px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: inset 0 0 10px #111;
	-webkit-box-shadow: inset 0 0 10px #111;
	box-shadow: inner 0 0 10px #111;
	position:relative;
}

ul li label:hover {
	background: #566f82; /* fallback colour */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#566f82), to(#3e505e));
	background: -webkit-linear-gradient(top, #566f82, #3e505e);
	background: -moz-linear-gradient(top, #566f82, #3e505e);
	background: -ms-linear-gradient(top, #566f82, #3e505e);
	background: -o-linear-gradient(top, #566f82, #3e505e);
}

ul li label:hover span {
	background:#3e505e;
}

ul li input[type='checkbox']:checked ~ label {
	background: #44c6eb; /* fallback colour */
	border-top:1px solid #878e98;
	border-bottom:1px solid #71C177;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44c6eb), to(#2799db));
	background: -webkit-linear-gradient(top, #71C177, #3C8041);
	background: -moz-linear-gradient(top, #71C177, #3C8041);
	background: -ms-linear-gradient(top, #71C177, #3C8041);
	background: -o-linear-gradient(top, #71C177, #3C8041);
}

ul li input[type='checkbox']:checked ~ label span {
	background: #3C8041; /* fallback colour */
	border-top:1px solid #111;
	border-bottom:1px solid #71C177;
	-moz-box-shadow: inset 0 0 5px #111;
	-webkit-box-shadow: inset 0 0 5px #111;
	box-shadow: inner 0 0 5px #111;
}

ul li input[type='checkbox']:checked ~ .options {
	height: auto;
	display:block;
	min-height:40px;
	max-height:400px;
	width:inherit;
}

ul ul {
	background:#fff; margin:0; padding:0;
	-moz-box-shadow: inset 0 2px 2px #b3b3b3;
	-webkit-box-shadow: inset 0 2px 2px #b3b3b3;
	box-shadow: inner 0 2px 2px #b3b3b3;
}

ul ul li a {
	display:block;
	padding:6px 12px;
	color:#999;
	text-decoration:none;
}

ul ul li a:hover {
	color:#71C177;
}

ul ul li a span {
	color:#999;
	background:none;
	border:1px solid #ccc; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

ul ul li {
	border-bottom:1px solid #ccc;
}

ul ul li:first-child {
	padding-top:6px;
}

ul ul li:last-child {
	padding-bottom:6px; border:0;
}

.options {
	height: 0;
	display: block;
	overflow: hidden;
}


#popup-box-content {
margin:-16px -11px -11px -11px;
}


#popup-box-content  h2{
color:white;
background-color:#DC9411;
padding:10px;
margin-bottom:-2px;
}

#popup-box-content  table {
margin-top:2px;
}

#popup-box-content  table tr td{
font-size:1em;
padding:2px 6px;
}

#popup-box-content  table tr td span{
font-weight:bold;
}

.even-row {
background-color:#e0e0e0;
}

#legend {
	background-color:#fff;
	position:absolute;
	right:5px;
	bottom:25px;
	width:180px;
	height:45px;
	padding-right:10px;
	z-index:9999;
  border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

#legend p,
#legend span {
  display:block;
  float:left;
  text-align:center;
  font-size:9px;
  color:#808080;
  z-index:9999;
  }
  
  #legend span {
  margin:10px 5px 5px 5px;
  border:3px solid #B66B27;
  width:30px;
  height:25px;
  border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
  }
  
  #legend p {
  width:125px;
  margin:15px 0 0 0;
  text-align:left;
  padding-left:8px;
  font-size:16px;
  height:25px;
  }
